<!-- <video #localVideo playsinline autoplay i8></video>
<video #remoteVideo playsinline autoplay class="horn-container"></video>
<div>
    <button #startButton [disabled]="startButtonDisabled" (click)="start()">Start</button>
    <button #callButton [disabled]="callButtonDisabled" (click)="call()">Call</button>
    <button #hangupButton [disabled]="hangupButtonDisabled" (click)="hangup()">Hang Up</button>
</div> -->

<div id="horn-conference"></div>
<div id="horn-container"></div>

<!-- <script type='text/javascript' src='https://horn.co/widget.js'></script>
<script>(function () {
        co.horn.widget.run({
            clientId: 'XOQZIpR3NNwA3sRZWac2',
            channel: '0bee9dbc-cef4-4ce9-b496-b482f7dd82c8'
        })
    })()</script> -->